# Copyright (c) 2024 Microchip

# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_MICROCHIP_PIC32CXBZ
	bool

config SOC_FAMILY
	default "microchip_pic32cxbz" if SOC_FAMILY_MICROCHIP_PIC32CXBZ

config SOC_SERIES_REVISION_N
	bool
	depends on SOC_FAMILY_MICROCHIP_PIC32CXBZ

config SOC_SERIES_REVISION
	string
	default "n" if SOC_SERIES_REVISION_N
	default ""
	depends on SOC_FAMILY_MICROCHIP_PIC32CXBZ

rsource "*/Kconfig.soc"
